/**
	app.css

	This file contains all the css that is manipulating attritubes
	that are being used on multiple pages.

*/

html, 
body{
	margin:0;
	padding:0;
	height: 100%;
	background-color: rgba(130, 93, 13, 0.5);
}

/* Header for Pages */
.header {
	width: 100%;
	margin: 0;
	height: 10%;
	background-color: #b07846  ;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff;
	text-align: center;
	border-bottom: 3px solid #000000;
}

.header a{
	color: #fff;
}

/* Footer for Pages */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10%; 
	background-color: #b07846;
	text-align: left;
	color: #fff;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border-top: 3px solid #000000;
}

